<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 작성</title>
</head>

<style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input {
        width : 100%;
        box-sizing : border-box;
    }

    .layout textarea{
        width : 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>

<body>
    <div class="layout">
        <form action="/product/writepro" method="post">

            제품 이름 : <input name="product_name" type="text">
            카테고리 : <input name="category" type="text">
            가격 : <input name="price" type="number">
            후기 : <input name="description" type="text">
            <button type="submit">작성</button>
        </form>

    </div>
</body>
</html>